{
  "openapi": "3.0.3",
  "info": {
    "title": "API Shop Documentation",
    "description": "Integrated API platform documentation. This document covers all services provided by API Shop. For details on common response codes (like 401, 403, 500), please refer to our unified error code documentation.",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://api.justserpapi.com",
      "description": "JustSerpAPI production server"
    }
  ],
  "paths": {
    "/api/v1/web/rendered-html": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Crawl Webpage (Rendered HTML)",
        "description": "Get webpage crawl data, including returns full raw Rendered HTML content, fast and cost-efficient, and optimized for static page crawling, for scraping, metadata extraction, and page structure analysis.",
        "operationId": "renderedHtml",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The full URL of the webpage to crawl (e.g., 'https://www.example.com').",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 20010,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/web/markdown": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Crawl Webpage (Markdown)",
        "description": "Get webpage crawl data, including removing boilerplate, for readable extraction, documentation workflows, and LLM input.",
        "operationId": "markdown",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The full URL of the webpage to crawl and convert to Markdown (e.g., 'https://www.example.com').",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 20020,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/web/html": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Crawl Webpage (HTML)",
        "description": "Get webpage crawl data, including returns full raw HTML content, fast and cost-efficient, and optimized for static page crawling, for scraping, metadata extraction, and page structure analysis.",
        "operationId": "html",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The full URL of the webpage to crawl (e.g., 'https://www.example.com').",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 20000,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/videos/search": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Search",
        "description": "Get Google video Search data, including titles, sources, and dates, for video SEO and content monitoring.",
        "operationId": "videosSearch",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The search query for Google Videos (e.g., 'coding tutorial', 'movie trailers').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The results page number. Use 0 for the first page, 1 for the second, and so on.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          },
          {
            "name": "html",
            "in": "query",
            "description": "Set to true to return the raw HTML of the Google search results page alongside the structured data.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "country",
            "in": "query",
            "description": "Set the target country code (e.g., 'us', 'uk') to localize results. See <a href=\"/reference/google-countries\">Google Countries</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "us"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "The Google domain to use for the search (e.g., 'google.com', 'google.co.uk'). See <a href=\"/reference/google-domains\">Google Domains</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "google.com"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "lr",
            "in": "query",
            "description": "Restrict results to one or more languages using the 'lang_{language_code}' format (e.g., 'lang_en'). See <a href=\"/reference/google-lr-language\">Google LR Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uule",
            "in": "query",
            "description": "Encoded location string (UULE) used to precisely localize Google search results. This is an advanced/technical parameter — if you’re not familiar with it, you can leave it empty and omit it.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tbs",
            "in": "query",
            "description": "Advanced search filter parameter (tbs) used to apply Google result filters (e.g. time range). This is an advanced parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "safe",
            "in": "query",
            "description": "SafeSearch filter setting.\n\nAvailable Values:\n- `ACTIVE`: Filter adult content. Legacy value `active` is also accepted.\n- `OFF`: Disable SafeSearch filtering. Legacy value `off` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google SafeSearch filter setting.",
              "enum": [
                "ACTIVE",
                "OFF"
              ]
            },
            "example": "OFF"
          },
          {
            "name": "nfpr",
            "in": "query",
            "description": "Controls Google's auto-correction.\n\nAvailable Values:\n- `INCLUDE_CORRECTED_RESULTS`: Include corrected results. Legacy value `0` is also accepted.\n- `EXCLUDE_CORRECTED_RESULTS`: Exclude corrected results. Legacy value `1` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google auto-correction setting.",
              "enum": [
                "INCLUDE_CORRECTED_RESULTS",
                "EXCLUDE_CORRECTED_RESULTS"
              ]
            },
            "example": "INCLUDE_CORRECTED_RESULTS"
          },
          {
            "name": "result_time",
            "in": "query",
            "description": "Filter results by publication time (e.g., 'qdr:d' for past 24 hours, 'qdr:w' for past week).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 7000,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/trends/trending-now": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Trending Now",
        "description": "Get Google trends Trending Now data, including latest trending topics, region and time-window filters, and volume indicators, for breaking-trend monitoring and editorial planning.",
        "operationId": "TrendsTrendingNow",
        "parameters": [
          {
            "name": "geo",
            "in": "query",
            "description": "The geographic location code to retrieve real-time trends for (e.g., 'US' for United States). Default is 'US'.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hours",
            "in": "query",
            "description": "Time window for trending topics.\n\nAvailable Values:\n- `PAST_4_HOURS`: Past 4 hours. Legacy value `4` is also accepted.\n- `PAST_24_HOURS`: Past 24 hours. Legacy value `24` is also accepted.\n- `PAST_48_HOURS`: Past 48 hours. Legacy value `48` is also accepted.\n- `PAST_7_DAYS`: Past 7 days. Legacy value `168` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Trends trending-now time window.",
              "enum": [
                "PAST_4_HOURS",
                "PAST_24_HOURS",
                "PAST_48_HOURS",
                "PAST_7_DAYS"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en').",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 10020,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/trends/search": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Search",
        "description": "Get Google trends Search data, including interest over time, geo breakdowns, and related queries, for demand analysis and seasonal trend monitoring.",
        "operationId": "TrendsSearch",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The search term or topic ID to analyze in Google Trends (e.g., 'iPhone', '/m/027lnzs' for Bitcoin). You can provide up to 5 terms separated by commas for comparisons.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "geo",
            "in": "query",
            "description": "The geographic location code to filter trends (e.g., 'US', 'GB'). Omit for worldwide trends. See <a href=\"/reference/google-trends-locations\">Google Trends Locations</a>.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Refines results for region charts.\n\nAvailable Values:\n- `COUNTRY`: Country-level results.\n- `REGION`: Region-level results.\n- `DMA`: Designated market area results.\n- `CITY`: City-level results.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Trends region chart refinement.",
              "enum": [
                "COUNTRY",
                "REGION",
                "DMA",
                "CITY"
              ]
            }
          },
          {
            "name": "data_type",
            "in": "query",
            "description": "The type of trend data to retrieve.\n\nAvailable Values:\n- `INTEREST_OVER_TIME`: Interest over time. Legacy value `TIMESERIES` is also accepted.\n- `REGION_BREAKDOWN`: Breakdown by region. Legacy value `GEO_MAP` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Trends data type.",
              "enum": [
                "INTEREST_OVER_TIME",
                "REGION_BREAKDOWN"
              ]
            }
          },
          {
            "name": "tz",
            "in": "query",
            "description": "Time zone offset in minutes (e.g., '420' for PDT). Range: -1439 to 1439.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cat",
            "in": "query",
            "description": "The search category code (e.g., '0' for all categories).",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 0
          },
          {
            "name": "gprop",
            "in": "query",
            "description": "The Google property to filter trends.\n\nAvailable Values:\n- `IMAGES`: Google Images. Legacy value `images` is also accepted.\n- `NEWS`: Google News. Legacy value `news` is also accepted.\n- `SHOPPING`: Google Shopping. Legacy value `froogle` is also accepted.\n- `YOUTUBE`: YouTube. Legacy value `youtube` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Trends property filter.",
              "enum": [
                "IMAGES",
                "NEWS",
                "SHOPPING",
                "YOUTUBE"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date range filter for the search. Supports predefined values (now 1-H, now 4-H, now 1-d, now 7-d, today 1-m, today 3-m, today 12-m, today 5-y, all) and custom ranges: yyyy-mm-dd yyyy-mm-dd (e.g. 2021-10-15 2022-05-25) or hourly yyyy-mm-ddThh yyyy-mm-ddThh within 1 week (e.g. 2022-05-19T10 2022-05-24T22, based on tz).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 10000,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/trends/autocomplete": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Autocomplete",
        "description": "Get Google trends Autocomplete data, including topic IDs, for trend discovery and topic expansion.",
        "operationId": "TrendsAutocomplete",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The search query to get trending autocomplete suggestions for (e.g., 'artificial').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 10010,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/shorts/search": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Search",
        "description": "Get Google shorts Search data, including video metadata and rankings, for short-form content tracking and trend analysis.",
        "operationId": "shortsSearch",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The search query for Google Shorts (e.g., 'cooking tips', 'travel hacks').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The result offset to skip a specific number of entries (e.g., set to 12 to skip the first 12 results).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          },
          {
            "name": "html",
            "in": "query",
            "description": "Set to true to return the raw HTML of the Google search results page alongside the structured data.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "country",
            "in": "query",
            "description": "Set the target country code (e.g., 'us', 'uk') to localize results. See <a href=\"/reference/google-countries\">Google Countries</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "us"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "The Google domain to use for the search (e.g., 'google.com', 'google.co.uk'). See <a href=\"/reference/google-domains\">Google Domains</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "google.com"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "lr",
            "in": "query",
            "description": "Restrict results to one or more languages using the 'lang_{language_code}' format (e.g., 'lang_en'). See <a href=\"/reference/google-lr-language\">Google LR Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uule",
            "in": "query",
            "description": "Encoded location string (UULE) used to precisely localize Google search results. This is an advanced/technical parameter — if you’re not familiar with it, you can leave it empty and omit it.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tbs",
            "in": "query",
            "description": "Advanced search filter parameter (tbs) used to apply Google result filters (e.g. time range). This is an advanced parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "safe",
            "in": "query",
            "description": "SafeSearch filter setting.\n\nAvailable Values:\n- `ACTIVE`: Filter adult content. Legacy value `active` is also accepted.\n- `OFF`: Disable SafeSearch filtering. Legacy value `off` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google SafeSearch filter setting.",
              "enum": [
                "ACTIVE",
                "OFF"
              ]
            },
            "example": "OFF"
          },
          {
            "name": "nfpr",
            "in": "query",
            "description": "Controls Google's auto-correction.\n\nAvailable Values:\n- `INCLUDE_CORRECTED_RESULTS`: Include corrected results. Legacy value `0` is also accepted.\n- `EXCLUDE_CORRECTED_RESULTS`: Exclude corrected results. Legacy value `1` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google auto-correction setting.",
              "enum": [
                "INCLUDE_CORRECTED_RESULTS",
                "EXCLUDE_CORRECTED_RESULTS"
              ]
            },
            "example": "INCLUDE_CORRECTED_RESULTS"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 8000,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/shopping/search": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Search",
        "description": "Get Google shopping Search data, including product listings, prices, and merchants, for pricing research and catalog monitoring.",
        "operationId": "shoppingSearch",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The shopping search query (e.g., 'iPhone 15', 'running shoes').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The results page number. Use 0 for the first page, 1 for the second, and so on.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          },
          {
            "name": "html",
            "in": "query",
            "description": "Set to true to return the raw HTML of the Google search results page alongside the structured data.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "country",
            "in": "query",
            "description": "Set the target country code (e.g., 'us', 'uk') to localize results. See <a href=\"/reference/google-countries\">Google Countries</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "us"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "The Google domain to use for the search (e.g., 'google.com', 'google.co.uk'). See <a href=\"/reference/google-domains\">Google Domains</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "google.com"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "lr",
            "in": "query",
            "description": "Restrict results to one or more languages using the 'lang_{language_code}' format (e.g., 'lang_en'). See <a href=\"/reference/google-lr-language\">Google LR Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shoprs",
            "in": "query",
            "description": "A unique ID used to apply specific shopping filters. Usually obtained from previous response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uule",
            "in": "query",
            "description": "Encoded location string (UULE) used to precisely localize Google search results. This is an advanced/technical parameter — if you’re not familiar with it, you can leave it empty and omit it.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tbs",
            "in": "query",
            "description": "Advanced search filter parameter (tbs) used to apply Google result filters (e.g. time range). This is an advanced parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "safe",
            "in": "query",
            "description": "SafeSearch filter setting.\n\nAvailable Values:\n- `ACTIVE`: Filter adult content. Legacy value `active` is also accepted.\n- `OFF`: Disable SafeSearch filtering. Legacy value `off` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google SafeSearch filter setting.",
              "enum": [
                "ACTIVE",
                "OFF"
              ]
            },
            "example": "OFF"
          },
          {
            "name": "nfpr",
            "in": "query",
            "description": "Controls Google's auto-correction.\n\nAvailable Values:\n- `INCLUDE_CORRECTED_RESULTS`: Include corrected results. Legacy value `0` is also accepted.\n- `EXCLUDE_CORRECTED_RESULTS`: Exclude corrected results. Legacy value `1` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google auto-correction setting.",
              "enum": [
                "INCLUDE_CORRECTED_RESULTS",
                "EXCLUDE_CORRECTED_RESULTS"
              ]
            },
            "example": "INCLUDE_CORRECTED_RESULTS"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 11000,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/search": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Search",
        "description": "Get Google search SERP data, including organic results, ads, and knowledge panels, for keyword tracking and SERP analysis across markets.",
        "operationId": "search",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The search query for Google Search (e.g., 'coffee shops', 'how to bake a cake').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The results page number. Use 0 for the first page, 1 for the second, and so on.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          },
          {
            "name": "html",
            "in": "query",
            "description": "Set to true to return the raw HTML of the Google search results page alongside the structured data.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "lr",
            "in": "query",
            "description": "Restrict results to one or more languages using the 'lang_{language_code}' format (e.g., 'lang_en'). See <a href=\"/reference/google-lr-language\">Google LR Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "The Google domain to use for the search (e.g., 'google.com', 'google.co.uk'). See <a href=\"/reference/google-domains\">Google Domains</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "google.com"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Set the target country code (e.g., 'us', 'uk') to localize results. See <a href=\"/reference/google-countries\">Google Countries</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "us"
          },
          {
            "name": "cr",
            "in": "query",
            "description": "Limits results to search results from specific countries. Format: 'countryXX'. See <a href=\"/reference/google-cr-countries\">Google CR Countries</a>.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uule",
            "in": "query",
            "description": "Encoded location string (UULE) used to precisely localize Google search results. This is an advanced/technical parameter — if you’re not familiar with it, you can leave it empty and omit it.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "The textual location name (e.g., 'New York, NY') to localize the search results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ludocid",
            "in": "query",
            "description": "Google local business CID (place identifier). Used to target a specific Google Business Profile / local listing. Advanced parameter — if you don’t know it, you can omit it.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lsig",
            "in": "query",
            "description": "Signature parameter (lsig) sometimes required for certain Knowledge Graph / local map view features. This is an advanced technical parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kgmid",
            "in": "query",
            "description": "Knowledge Graph entity/listing ID (KGMID) used to retrieve details for a specific entity. This is an advanced technical parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "si",
            "in": "query",
            "description": "Cached search context parameter (si) used to reproduce specific Google search result views/context (e.g. some Knowledge Graph tabs). This is an advanced technical parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ibp",
            "in": "query",
            "description": "Parameter (ibp) used to control certain Google UI expansions or rendering modes (commonly in local/business result views). This is an advanced technical parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uds",
            "in": "query",
            "description": "Advanced filter token (uds) used for specific Google search sub-filters. This is an advanced technical parameter, usually provided by Google in filter options/results — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tbs",
            "in": "query",
            "description": "Advanced search filter parameter (tbs) used to apply Google result filters (e.g. time range). This is an advanced parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "safe",
            "in": "query",
            "description": "SafeSearch filter setting.\n\nAvailable Values:\n- `ACTIVE`: Filter adult content. Legacy value `active` is also accepted.\n- `OFF`: Disable SafeSearch filtering. Legacy value `off` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google SafeSearch filter setting.",
              "enum": [
                "ACTIVE",
                "OFF"
              ]
            },
            "example": "OFF"
          },
          {
            "name": "nfpr",
            "in": "query",
            "description": "Controls Google's auto-correction.\n\nAvailable Values:\n- `INCLUDE_CORRECTED_RESULTS`: Include corrected results. Legacy value `0` is also accepted.\n- `EXCLUDE_CORRECTED_RESULTS`: Exclude corrected results. Legacy value `1` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google auto-correction setting.",
              "enum": [
                "INCLUDE_CORRECTED_RESULTS",
                "EXCLUDE_CORRECTED_RESULTS"
              ]
            },
            "example": "INCLUDE_CORRECTED_RESULTS"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Toggle similar-results and omitted-results filtering.\n\nAvailable Values:\n- `DISABLED`: Disable similar and omitted results filtering. Legacy value `0` is also accepted.\n- `ENABLED`: Enable similar and omitted results filtering. Legacy value `1` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google result filter toggle.",
              "enum": [
                "DISABLED",
                "ENABLED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 1000,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/search/mobile": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Mobile Search",
        "description": "Get Google mobile Search SERP data, including mobile-specific layouts and result features, for mobile SEO analysis and ranking checks.",
        "operationId": "searchMobile",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The search query for Google Search (e.g., 'coffee shops', 'how to bake a cake').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The results page number. Use 0 for the first page, 1 for the second, and so on.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          },
          {
            "name": "html",
            "in": "query",
            "description": "Set to true to return the raw HTML of the Google search results page alongside the structured data.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "lr",
            "in": "query",
            "description": "Restrict results to one or more languages using the 'lang_{language_code}' format (e.g., 'lang_en'). See <a href=\"/reference/google-lr-language\">Google LR Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "The Google domain to use for the search (e.g., 'google.com', 'google.co.uk'). See <a href=\"/reference/google-domains\">Google Domains</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "google.com"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Set the target country code (e.g., 'us', 'uk') to localize results. See <a href=\"/reference/google-countries\">Google Countries</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "us"
          },
          {
            "name": "cr",
            "in": "query",
            "description": "Limits results to search results from specific countries. Format: 'countryXX'. See <a href=\"/reference/google-cr-countries\">Google CR Countries</a>.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uule",
            "in": "query",
            "description": "Encoded location string (UULE) used to precisely localize Google search results. This is an advanced/technical parameter — if you’re not familiar with it, you can leave it empty and omit it.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "The textual location name (e.g., 'New York, NY') to localize the search results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ludocid",
            "in": "query",
            "description": "Google local business CID (place identifier). Used to target a specific Google Business Profile / local listing. Advanced parameter — if you don’t know it, you can omit it.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lsig",
            "in": "query",
            "description": "Signature parameter (lsig) sometimes required for certain Knowledge Graph / local map view features. This is an advanced technical parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kgmid",
            "in": "query",
            "description": "Knowledge Graph entity/listing ID (KGMID) used to retrieve details for a specific entity. This is an advanced technical parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "si",
            "in": "query",
            "description": "Cached search context parameter (si) used to reproduce specific Google search result views/context (e.g. some Knowledge Graph tabs). This is an advanced technical parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ibp",
            "in": "query",
            "description": "Parameter (ibp) used to control certain Google UI expansions or rendering modes (commonly in local/business result views). This is an advanced technical parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uds",
            "in": "query",
            "description": "Advanced filter token (uds) used for specific Google search sub-filters. This is an advanced technical parameter, usually provided by Google in filter options/results — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tbs",
            "in": "query",
            "description": "Advanced search filter parameter (tbs) used to apply Google result filters (e.g. time range). This is an advanced parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "safe",
            "in": "query",
            "description": "SafeSearch filter setting.\n\nAvailable Values:\n- `ACTIVE`: Filter adult content. Legacy value `active` is also accepted.\n- `OFF`: Disable SafeSearch filtering. Legacy value `off` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google SafeSearch filter setting.",
              "enum": [
                "ACTIVE",
                "OFF"
              ]
            },
            "example": "OFF"
          },
          {
            "name": "nfpr",
            "in": "query",
            "description": "Controls Google's auto-correction.\n\nAvailable Values:\n- `INCLUDE_CORRECTED_RESULTS`: Include corrected results. Legacy value `0` is also accepted.\n- `EXCLUDE_CORRECTED_RESULTS`: Exclude corrected results. Legacy value `1` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google auto-correction setting.",
              "enum": [
                "INCLUDE_CORRECTED_RESULTS",
                "EXCLUDE_CORRECTED_RESULTS"
              ]
            },
            "example": "INCLUDE_CORRECTED_RESULTS"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Toggle similar-results and omitted-results filtering.\n\nAvailable Values:\n- `DISABLED`: Disable similar and omitted results filtering. Legacy value `0` is also accepted.\n- `ENABLED`: Enable similar and omitted results filtering. Legacy value `1` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google result filter toggle.",
              "enum": [
                "DISABLED",
                "ENABLED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 1020,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/search/light": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Light Search",
        "description": "Get Google light Search SERP data, including essential result data, for high-volume monitoring and fast rank checks.",
        "operationId": "searchLight",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The search query for Google Search (e.g., 'coffee shops', 'how to bake a cake').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The results page number. Use 0 for the first page, 1 for the second, and so on.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          },
          {
            "name": "html",
            "in": "query",
            "description": "Set to true to return the raw HTML of the Google search results page alongside the structured data.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "lr",
            "in": "query",
            "description": "Restrict results to one or more languages using the 'lang_{language_code}' format (e.g., 'lang_en'). See <a href=\"/reference/google-lr-language\">Google LR Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "The Google domain to use for the search (e.g., 'google.com', 'google.co.uk'). See <a href=\"/reference/google-domains\">Google Domains</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "google.com"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Set the target country code (e.g., 'us', 'uk') to localize results. See <a href=\"/reference/google-countries\">Google Countries</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "us"
          },
          {
            "name": "cr",
            "in": "query",
            "description": "Limits results to search results from specific countries. Format: 'countryXX'. See <a href=\"/reference/google-cr-countries\">Google CR Countries</a>.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uule",
            "in": "query",
            "description": "Encoded location string (UULE) used to precisely localize Google search results. This is an advanced/technical parameter — if you’re not familiar with it, you can leave it empty and omit it.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "The textual location name (e.g., 'New York, NY') to localize the search results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ludocid",
            "in": "query",
            "description": "Google local business CID (place identifier). Used to target a specific Google Business Profile / local listing. Advanced parameter — if you don’t know it, you can omit it.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lsig",
            "in": "query",
            "description": "Signature parameter (lsig) sometimes required for certain Knowledge Graph / local map view features. This is an advanced technical parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kgmid",
            "in": "query",
            "description": "Knowledge Graph entity/listing ID (KGMID) used to retrieve details for a specific entity. This is an advanced technical parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "si",
            "in": "query",
            "description": "Cached search context parameter (si) used to reproduce specific Google search result views/context (e.g. some Knowledge Graph tabs). This is an advanced technical parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ibp",
            "in": "query",
            "description": "Parameter (ibp) used to control certain Google UI expansions or rendering modes (commonly in local/business result views). This is an advanced technical parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uds",
            "in": "query",
            "description": "Advanced filter token (uds) used for specific Google search sub-filters. This is an advanced technical parameter, usually provided by Google in filter options/results — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tbs",
            "in": "query",
            "description": "Advanced search filter parameter (tbs) used to apply Google result filters (e.g. time range). This is an advanced parameter — if you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "safe",
            "in": "query",
            "description": "SafeSearch filter setting.\n\nAvailable Values:\n- `ACTIVE`: Filter adult content. Legacy value `active` is also accepted.\n- `OFF`: Disable SafeSearch filtering. Legacy value `off` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google SafeSearch filter setting.",
              "enum": [
                "ACTIVE",
                "OFF"
              ]
            },
            "example": "OFF"
          },
          {
            "name": "nfpr",
            "in": "query",
            "description": "Controls Google's auto-correction.\n\nAvailable Values:\n- `INCLUDE_CORRECTED_RESULTS`: Include corrected results. Legacy value `0` is also accepted.\n- `EXCLUDE_CORRECTED_RESULTS`: Exclude corrected results. Legacy value `1` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google auto-correction setting.",
              "enum": [
                "INCLUDE_CORRECTED_RESULTS",
                "EXCLUDE_CORRECTED_RESULTS"
              ]
            },
            "example": "INCLUDE_CORRECTED_RESULTS"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Toggle similar-results and omitted-results filtering.\n\nAvailable Values:\n- `DISABLED`: Disable similar and omitted results filtering. Legacy value `0` is also accepted.\n- `ENABLED`: Enable similar and omitted results filtering. Legacy value `1` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google result filter toggle.",
              "enum": [
                "DISABLED",
                "ENABLED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 1010,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/scholar/search": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Search",
        "description": "Search Google Scholar papers, patents, legal documents, citations, and article versions for literature review and academic monitoring. Provide query, cites, or cluster; cluster cannot be combined with query or cites.",
        "operationId": "ScholarSearch",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The academic search query (e.g., 'machine learning', 'CRISPR gene editing'). Supports advanced operators like 'author:'. Required unless cites or cluster is provided, and cannot be combined with cluster.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "html",
            "in": "query",
            "description": "Set to true to return the raw HTML of the Google Scholar search page.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "cites",
            "in": "query",
            "description": "Return articles that cite the article with the specified ID. Can be used alone or with query, but cannot be combined with cluster.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "as_ylo",
            "in": "query",
            "description": "Minimum publication year filter (e.g., '2020').",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "as_yhi",
            "in": "query",
            "description": "Maximum publication year filter (e.g., '2024').",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scisbd",
            "in": "query",
            "description": "Controls whether to return only abstract results or all results.\n\nAvailable Values:\n- `ALL_RESULTS`: Return all results. Legacy value `0` is also accepted.\n- `ABSTRACT_RESULTS_ONLY`: Return abstract results only. Legacy value `1` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Scholar abstract-result filter.",
              "enum": [
                "ALL_RESULTS",
                "ABSTRACT_RESULTS_ONLY"
              ]
            }
          },
          {
            "name": "cluster",
            "in": "query",
            "description": "The unique ID of an article cluster to retrieve all versions of a specific work. Cannot be combined with query or cites.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "lr",
            "in": "query",
            "description": "Restrict results to one or more languages using the 'lang_{language_code}' format (e.g., 'lang_en'). See <a href=\"/reference/google-lr-language\">Google LR Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The results page number. Use 0 for the first page, 1 for the second, and so on.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          },
          {
            "name": "results",
            "in": "query",
            "description": "The number of search results to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "name": "as_sdt",
            "in": "query",
            "description": "Advanced filter for specific document types or legal jurisdictions. E.g., '7' to include patents.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "safe",
            "in": "query",
            "description": "SafeSearch filter setting.\n\nAvailable Values:\n- `ACTIVE`: Filter adult content. Legacy value `active` is also accepted.\n- `OFF`: Disable SafeSearch filtering. Legacy value `off` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google SafeSearch filter setting.",
              "enum": [
                "ACTIVE",
                "OFF"
              ]
            },
            "example": "OFF"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Toggle 'Similar Results' and 'Omitted Results' filters. Set to '1' (default) to enable, '0' to disable.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "as_vis",
            "in": "query",
            "description": "Controls whether citations are included in the results.\n\nAvailable Values:\n- `INCLUDE_CITATIONS`: Include citations in the results. Legacy value `0` is also accepted.\n- `EXCLUDE_CITATIONS`: Exclude citations from the results. Legacy value `1` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Scholar citation visibility filter.",
              "enum": [
                "INCLUDE_CITATIONS",
                "EXCLUDE_CITATIONS"
              ]
            }
          },
          {
            "name": "as_rr",
            "in": "query",
            "description": "Controls whether to show only review articles or return all results.\n\nAvailable Values:\n- `ALL_RESULTS`: Return all results. Legacy value `0` is also accepted.\n- `REVIEW_ARTICLES_ONLY`: Return review articles only. Legacy value `1` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Scholar review-article filter.",
              "enum": [
                "ALL_RESULTS",
                "REVIEW_ARTICLES_ONLY"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 14000,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/scholar/cite/search": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Citations",
        "description": "Get Google scholar Citations data, including export links, for bibliography automation and citation workflows.",
        "operationId": "ScholarCiteSearch",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The unique ID of a Google Scholar search result to retrieve citation formats for. Found in the 'id' field of previous Scholar Search responses.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 14030,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/scholar/author": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Author",
        "description": "Get Google scholar Author data, including publications, citation metrics, and research interests, for researcher analysis and academic profiling.",
        "operationId": "ScholarAuthor",
        "parameters": [
          {
            "name": "author_id",
            "in": "query",
            "description": "The unique Google Scholar ID of the researcher/author (e.g., 'LSs6DR8AAAAJ').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results",
            "in": "query",
            "description": "The number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 20
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "view_op",
            "in": "query",
            "description": "Specific view operation for the author profile.\n\nAvailable Values:\n- `LIST_COLLEAGUES`: List co-authors. Legacy value `list_colleagues` is also accepted.\n- `VIEW_CITATION`: View citation details. Legacy value `view_citation` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Scholar author profile view operation.",
              "enum": [
                "LIST_COLLEAGUES",
                "VIEW_CITATION"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria for the author's publications.\n\nAvailable Values:\n- `TITLE`: Sort by title. Legacy value `title` is also accepted.\n- `PUBLICATION_DATE`: Sort by publication date. Legacy value `pubdate` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Scholar author publication sort order.",
              "enum": [
                "TITLE",
                "PUBLICATION_DATE"
              ]
            }
          },
          {
            "name": "citation_id",
            "in": "query",
            "description": "The citation ID to view details for (required when 'view_op' is 'view_citation').",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 14020,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/patents/search": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Search",
        "description": "Get Google patent Search data, including filters, for patent discovery and portfolio monitoring.",
        "operationId": "patentSearch",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The search query for patents (e.g., 'autonomous vehicles', 'blockchain security').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The results page number. Use 0 for the first page, 1 for the second, and so on.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          },
          {
            "name": "num",
            "in": "query",
            "description": "The number of results to return per page (range: 1-100).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting order for patent results.\n\nAvailable Values:\n- `NEWEST`: Newest first. Legacy value `new` is also accepted.\n- `OLDEST`: Oldest first. Legacy value `old` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Patents sort order.",
              "enum": [
                "NEWEST",
                "OLDEST"
              ]
            }
          },
          {
            "name": "clustered",
            "in": "query",
            "description": "If set to true, results will be grouped by classification.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dups",
            "in": "query",
            "description": "Deduplication method.\n\nAvailable Values:\n- `LANGUAGE`: Deduplicate by publication language. Legacy value `language` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Patents deduplication method.",
              "enum": [
                "LANGUAGE"
              ]
            }
          },
          {
            "name": "patents",
            "in": "query",
            "description": "Whether to include Google Patents results.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "scholar",
            "in": "query",
            "description": "Whether to include Google Scholar results.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "before",
            "in": "query",
            "description": "Latest date to include. Format: 'type:YYYYMMDD' (e.g., 'publication:20230101').",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Earliest date to include. Format: 'type:YYYYMMDD' (e.g., 'filing:20200101').",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inventor",
            "in": "query",
            "description": "Filter by patent inventor(s). Multiple values can be comma-separated.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "description": "Filter by patent assignee(s). Multiple values can be comma-separated.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Set the target country code (e.g., 'us', 'uk') to localize results. See <a href=\"/reference/google-countries\">Google Countries</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "us"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by patent status.\n\nAvailable Values:\n- `GRANT`: Granted patents.\n- `APPLICATION`: Patent applications.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Patents status filter.",
              "enum": [
                "GRANT",
                "APPLICATION"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by patent type.\n\nAvailable Values:\n- `PATENT`: Patent.\n- `DESIGN`: Design patent.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Patents type filter.",
              "enum": [
                "PATENT",
                "DESIGN"
              ]
            }
          },
          {
            "name": "litigation",
            "in": "query",
            "description": "Filter by litigation status.\n\nAvailable Values:\n- `YES`: Patents with litigation.\n- `NO`: Patents without litigation.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Patents litigation filter.",
              "enum": [
                "YES",
                "NO"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 18000,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/patents/details": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Details",
        "description": "Get Google patent Details data, including abstracts, claims, and legal status, for patent review and IP due diligence.",
        "operationId": "patentDetails",
        "parameters": [
          {
            "name": "patent_id",
            "in": "query",
            "description": "The unique Google Patent ID (e.g., 'US1234567B1').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "html",
            "in": "query",
            "description": "Set to true to return the raw HTML of the Google search results page alongside the structured data.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 18010,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/news/search": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Search",
        "description": "Get Google news Search data, including headlines and source metadata, for media monitoring and news aggregation.",
        "operationId": "newsSearch",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The search query for Google News (e.g., 'artificial intelligence', 'climate change').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Set the target country code (e.g., 'us', 'uk') to localize results. See <a href=\"/reference/google-countries\">Google Countries</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "us"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "topic_token",
            "in": "query",
            "description": "The Google News topic token to retrieve results for a specific category (e.g., 'World', 'Technology'). Obtained from previous responses.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publication_token",
            "in": "query",
            "description": "The Google News publication token to fetch results from a specific source (e.g., 'CNN', 'BBC'). Obtained from previous responses.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "section_token",
            "in": "query",
            "description": "The Google News section token to access a specific subsection within a topic or publication.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "so",
            "in": "query",
            "description": "Sorting order for news results. Only works with 'story_token'.\n\nAvailable Values:\n- `RELEVANCE`: Relevance. Legacy value `0` is also accepted.\n- `DATE`: Date. Legacy value `1` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google News sorting order.",
              "enum": [
                "RELEVANCE",
                "DATE"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 6000,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/maps/search": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Search",
        "description": "Get Google maps Search data, including business listings, ratings and contact data, and coordinate and location targeting, for local market research and lead discovery.",
        "operationId": "mapsSearch",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The search query for Google Maps (e.g., 'restaurants', 'hospitals in New York').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ll",
            "in": "query",
            "description": "GPS coordinates for the search origin. Format: '@<latitude>,<longitude>,<zoom>'. Required for precise localization and pagination.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "The Google domain to use for the search (e.g., 'google.com', 'google.co.uk'). See <a href=\"/reference/google-domains\">Google Domains</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "google.com"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Set the target country code (e.g., 'us', 'uk') to localize results. See <a href=\"/reference/google-countries\">Google Countries</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "us"
          },
          {
            "name": "data",
            "in": "query",
            "description": "Advanced Google Maps data parameter used for certain map/place-specific result filters and views. It can be copied from a Google Maps URL after applying filters, or constructed for specific place searches. This parameter is commonly used when type = \"place\". If you’re not familiar with it, you can leave it empty.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place_id",
            "in": "query",
            "description": "The unique Google Place ID to directly retrieve information for a specific location.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The results pagination offset. Start at 0 and increment by 20 for each subsequent page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 4000,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/maps/reviews": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Reviews",
        "description": "Get Google maps Reviews data, including ratings and reviewer metadata, for reputation analysis and review monitoring.",
        "operationId": "mapsReviews",
        "parameters": [
          {
            "name": "data_id",
            "in": "query",
            "description": "The unique Google Maps location ID (feature ID). You can get this from our Google Maps Search API.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Set the language for the results using its two-letter code (e.g., 'en' for English, 'fr' for French). See <a href=\"/reference/google-language\">Google Language</a>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sorting order for reviews.\n\nAvailable Values:\n- `RELEVANCE`: Relevance. Legacy value `qualityScore` is also accepted.\n- `NEWEST`: Newest first. Legacy value `newestFirst` is also accepted.\n- `HIGHEST_RATING`: Highest rating first. Legacy value `ratingHigh` is also accepted.\n- `LOWEST_RATING`: Lowest rating first. Legacy value `ratingLow` is also accepted.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Google Maps review sort order.",
              "enum": [
                "RELEVANCE",
                "NEWEST",
                "HIGHEST_RATING",
                "LOWEST_RATING"
              ]
            },
            "example": "RELEVANCE"
          },
          {
            "name": "topic_id",
            "in": "query",
            "description": "Filter reviews by a specific topic ID. Topic IDs are obtained from previous Maps Reviews API responses.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Token for retrieving the next page of reviews.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results",
            "in": "query",
            "description": "The maximum number of reviews to return per page (range: 1-20).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JustSerpAPI response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JustSerpApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: API Key is invalid or missing"
          },
          "403": {
            "description": "Access denied: Insufficient credits or quota exceeded"
          },
          "500": {
            "description": "Internal server error or upstream service exception"
          },
          "default": {
            "description": "Unexpected response."
          }
        },
        "x-order": 4030,
        "x-highlights": [],
        "security": [
          {
            "JustSerpApiKeyHeader": [],
            "JustSerpApiKeyQuery": []
          }
        ]
      }
    },
    "/api/v1/google/maps/posts": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Posts",
        "description": "Get Google maps Posts data, including business post content, post dates and images, and profile-specific feeds, for local business monitoring and promotion tracking.",
        "operationId": "mapsPosts",
        "parameters": [
          {
            "name": "data_id",
            "in": "query",
[...]
